<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>data</title>
    <link href="/public/styles.css" rel="stylesheet" />
    <link rel="icon" href="/public/assets/favicon.ico">
</head>
<body>
    <div class='fill-screen'>
        <img class='fit-screen'src='/public/assets/background.jpg'>
        <div class="content">
            <img class='logo' src="/public/assets/logo.png" alt="Dizplai logo">
            <div class ="question">
                <h1 id="h1First"> 404 - poll not found.</h1> <br>
                <h1 id="h1Second">please check you have the right poll!</h1>
            </div>

        </div>
    </div>
    <script src="/public/script.js"></script>
</body>
</html>