<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dizplai Technical Test</title>
    <link href="/public/styles.css" rel="stylesheet" />
    <link rel="icon" href="/public/assets/favicon.ico">
</head>
<body>
    <div class='fill-screen'>
        <img class='fit-screen'src='/public/assets/background.jpg'>
        <div class="content">
            <img class='logo' src="/public/assets/logo.png" alt="Dizplai logo">
            <div class ="question">
                <h1 id ="h1First" value="Who will win the">Who will win the<h1 id="h1Second" value = "Premier Leauge?">prem
            </div>
            <div class="selectBtns"> 
                <input type="radio" class=""


                <input type="button" class="option" id="btn1" value="Manchester City" onclick="btn1_click()">
                <input type="button" class="option" id="btn2" value="Arsenal" onclick="btn2_click()">
                <input type="button" class="option" id="btn3" value="Liverpool" onclick="btn3_click()">

            </div>
            <input type="button" class="submit" value="SUBMIT" onclick="submit_click()">
        </div>
    </div>
    <script src="/public/script.js"></script>
</body>
</html>