<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poll Results</title>
    <link href="/public/styles.css" rel="stylesheet" />
    <link rel="icon" href="/public/assets/favicon.ico">
</head>
<body>
    <div class='fill-screen'>
        <img class='fit-screen'src='/public/assets/background.jpg'>
        <div class="content">
            <img class='logo' src="/public/assets/logo.png" alt="Dizplai logo">
            <div class ="question">

                <% data.forEach(data => {  %>
                    <!-- Getting the question and splitting it up so the last two words are bold -->
                    <% var buttonAmount = 2 %>
                    <% var question_title = data.question.split(" "); %>
                    <% var testFirst = question_title.slice (0, -2).join(" "); %>
                    <% var testLast = question_title.splice(question_title.length - 2).join (" "); %>
                    <% var vote1 = 0; %>
                    <% var vote2 = 0; %>
                    <% var vote3 = 0; %>
                    <% var vote4 = 0; %>
                    <% var vote5 = 0; %>
                    <% vote1 = data.options[0].vote; %>
                    <% vote2 = data.options[1].vote; %>
                    <% if(data.options[2] === undefined){ } else {%>
                    <%  vote3 = data.options[2].vote; } %>
                    <% if(data.options[3] === undefined){ } else { %>
                    <%  vote4 = data.options[3].vote; } %>
                    <% if(data.options[4] === undefined){ } else { %>
                    <%  vote5 = data.options[4].vote; } %>
                    <% const voteNumberTotal = vote1 + vote2 + vote3 + vote4 + vote5;  %>
                    <% console.log("total number: " + voteNumberTotal); %>
                    <% var vote1Per = (100 * vote1) / voteNumberTotal; %>
                    <% var vote2Per = (100 * vote2) / voteNumberTotal;%>
                    <% var vote3Per = (100 * vote3) / voteNumberTotal; %>
                    <% var vote4Per = (100 * vote4) / voteNumberTotal;%>
                    <% var vote5Per = (100 * vote5) / voteNumberTotal; %>
                    
                    



                    <h1 id="h1First"><%= testFirst %></h1>
                    <h1 id="h1Second"><%= testLast %></h1>
                    </div>
                    <div class="selectBtns"> 
                                                        <!-- LOADING UP PAGE DETAILS-->
                                                        

                    <div class="pollBar" id="pollBar1">
                        <script>src.btn1_click</script>
                        <div class="pollBars__fill" id="poll_fill1"></div>
                        <div class="pollBars__text" id="poll_text1">20%</div>
                        <div class="pollBars__name" id="poll_name1">Manchester city</div>
                    </div>    

                <% }) %>
            
            </div>
        </div>
    </div>
    <script src="/public/script.js"></script>
</body>
</html>