<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poll Results</title>
    <link href="/public/styles.css" rel="stylesheet" />
    <link rel="icon" href="/public/assets/favicon.ico">
</head>
<body>
    <div class='fill-screen'>
        <img class='fit-screen'src='/public/assets/background.jpg'>
        <div class="content">
            <img class='logo' src="/public/assets/logo.png" alt="Dizplai logo">
            <div class ="question">

                    <% i = 0; %>
                    <!-- Getting the question and splitting it up so the last two words are bold -->
                    <% var vote1 = 0; %>
                    <% var vote2 = 0; %>
                    <% var vote3 = 0; %>
                    <% var vote4 = 0; %>
                    <% var vote5 = 0; %>

                    <% vote1 = vote.votes[0].result; %>
                    <% vote2 = vote.votes[1].result; %>
                    <% if(vote.votes[2] === undefined){ } else {%>
                    <%  vote3 = vote.votes[2].result; } %>
                    <% if(vote.votes[3] === undefined){ } else { %>
                    <%  vote4 = vote.votes[3].result; } %>
                    <% if(vote.votes[4] === undefined){ } else { %>
                    <%  vote5 = vote.votes[4].result; } %>
                    <% const voteNumberTotal = vote1 + vote2 + vote3 + vote4 + vote5;  %>
                    <% console.log("total number: " + voteNumberTotal); %>

                    <% var vote1Per =  Math.round((100 * vote1) / voteNumberTotal); %>
                    <% var vote2Per =  Math.round((100 * vote2) / voteNumberTotal);%>
                    <% var vote3Per =  Math.round((100 * vote3) / voteNumberTotal); %>
                    <% var vote4Per =  Math.round((100 * vote4) / voteNumberTotal);%>
                    <% var vote5Per = Math.round((100 * vote5) / voteNumberTotal); %>
                    <% console.log(vote1Per, vote2Per,  vote3Per,  vote4Per,  vote5Per) %>
                    
                    <% %>
                    <% %>
                    <% %>
                    <% %>
                    <% %>
                    <% %>
        
                    <%console.log(vote)%>
                    <h1 id="h1First"> Thank you for</h1>
                    <h1 id="h1Second">your response</h1>
                    </div>
                    <div class="selectBtns"> 
                                                        <!-- LOADING UP PAGE DETAILS-->
                                                        

                    <div class="pollBar" id="pollBar1">
                        <script>src.btn1_click</script>
                        <div class="pollBars__fill" id="poll_fill1"></div>
                        <div class="pollBars__text" id="poll_text1">20%</div>
                        <div class="pollBars__name" id="poll_name1">Manchester city</div>
                    </div>             
            </div>
        </div>
    </div>
    <script src="/public/script.js"></script>
</body>
</html>